@import "tailwindcss";


/* theme variants */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));


:root, [data-theme="dark"] {
  --primary: #eee;
  --secondary: #ccc;
  --background: #050505;
}

[data-theme="light"] {
  --primary: #111;
  --secondary: #333;
  --background: #eee;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-overpass-mono);
  scroll-margin-top: calc(var(--h-header) + 2.5em);
}

h1 {
  padding-top: 16px;
  font-family: var(--font-overpass);
  font-size: 4em;
}

h2 {
  font-family: var(--font-overpass-mono);
  font-size: 2em;
}

a, p {
  font-size: 1em;
}

a {
  font-weight: bold;
}

p {
  padding-bottom: 4px;
}